body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.title-1 {
  font-size: 28px;
  @media (max-width: 992px) {
    font-size: 24px;
  }
  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.page-loading {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  background: #000000b3;
  .loading-box {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    box-shadow: $card-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $back-color;
  }
}

a.active {
  color: #8873ff;
  &.dark {
    color: #c300ff;
  }
}
.dashboard-container {
    min-height: calc(100vh - $header-height);
}
.number {
  font-family: $font-second;
}
.btn-primary {
  padding: 8px 18px;
  background-color: $primary-color;
  transition: all 0.3s;
  border: 1px solid $primary-color;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
  &:hover {
    background-color: #333;
  }
  @media (max-width: 992px) {
    font-size: 18px;
  }
  @media (max-width: 576px) {
    padding: 6px 6px;
  }
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-12 {
  width: calc(100% - 40px);
  margin-right: 20px;
  margin-left: 20px;
  @media (max-width: 992px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.col-half {
  width: calc(50% - 40px);
  margin-right: 20px;
  margin-left: 20px;
  @media (max-width: 992px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.mt-10 {
  margin-top: 10px;
}
.pb-80 {
  padding-bottom: 80px;
}

.main-content {
  @media (max-width: 762px) {
    padding: 0;
  }
}

.page-tabs {
  padding: 30px 0;
  text-align: center;

  @media (max-width: 762px) {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    transition: all 0.3s;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
    }
  }
}

.raffle-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 48px;
  padding-bottom: 80px;
  @media (max-width: 1080px) {
    grid-gap: 28px;
  }
  @media (max-width: 762px) {
    grid-gap: 16px;
  }
}

.raffle-card {
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
    transform: translateY(-3px);
  }
}
.btn-image {
  border: none;
  background-color: transparent;
  img {
    transition: all 0.3s;
  }
  &:hover {
    img {
      transition: all 0.3s;
      filter: brightness(0.8);
    }
  }
}
.btn-tab {
  img {
    height: 60px;
  }
}
.create-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  gap: 30px;
  padding: 18px;
  background-color: #000;
  border-radius: 0px;
  border: 1px solid #ffffff61;
}
.p-100 {
  padding: 160px 0 80px;
}
.ready-card {
  width: calc(25% - 58px);
  text-align: center;
  border: 3px solid #000;
  border-radius: 0px;
  background-color: #fff;
  padding: 14px;
  img {
    width: 100%;
    border-radius: 0;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  label {
    font-size: 18px;
    color: #fff;
    margin: 4px 0;
    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
  input {
    border-radius: 4px;
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff3;
    color: #fff;
    outline: none;
    font-weight: 400;
    &:focus {
      border-color: #63a2ff;
    }
    &::placeholder {
      font-size: 16px;
    }
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  .error-helper {
    color: red;
    position: absolute;
    bottom: -24px;
    font-size: 14px;
  }
  .token-name {
    position: absolute;
    color: #999;
    bottom: 18px;
    right: 10px;
  }
  p {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
  }
}
.MuiSelect-select {
  font-family: $font-second !important;
}
.MuiTouchRipple-root {
  font-family: $font-second !important;
}
.MuiTypography-root {
  font-family: $font-main !important;
}
.MuiFormGroup-root {
  min-height: 56px !important;
}
.create-content {
  display: flex;
  padding-top: 160px;
  padding-bottom: 120px;
  @media (max-width: 576px) {
    flex-direction: column;
  }
  .nft-info {
    width: 320px;
    margin-right: 80px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
    .info-item {
      color: #fff;
      font-family: $font-main;
      padding: 15px 0;
      @media (max-width: 576px) {
        padding-right: 20px;
        padding-left: 20px;
      }
      label {
        font-size: 18px;
        font-weight: 600;
        color: #eee;
        @media (max-width: 992px) {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 32px;
        margin-top: 8px;
        font-weight: 300;
        @media (max-width: 992px) {
          font-size: 28px;
        }
      }
      p {
        font-size: 16px;
        margin-top: 8px;
      }
    }

    @media (max-width: 1200px) {
      width: 280px;
      margin-right: 40px;
    }
    @media (max-width: 992px) {
      width: 260px;
      margin-right: 20px;
    }
    @media (max-width: 576px) {
      width: 100%;
      margin-right: 0;
      .media {
        max-width: 280px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
      }
    }
  }
  .create-panel {
    width: calc(100% - 400px);
    padding: 30px;
    @media (max-width: 1200px) {
      width: calc(100% - 320px);
      padding: 20px;
    }
    @media (max-width: 576px) {
      width: calc(100% - 40px);
      padding: 20px;
    }
  }
}


.btn-main {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  background: $primary-color;
  color: #fff;
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
    background-color: #634af7;
  }
}

.copy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  .copied {
    color: $primary-color;
    font-weight: bold;
  }
}
